@font-face {
  font-family: "love";
  src: url("WORDSOFLOVE.ttf");
}

* {
  margin:0;
  padding:0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas.heartworks {
  display: block;
  background: #f68a8a;
  image-rendering: pixelated;
}
